@import "node_modules/@picocss/pico/scss/pico";

body {
    background: var(--body-background);
}

article {
    margin-top: var(--spacing);
    margin-bottom: 0;
    padding: var(--block-spacing-horizontal) var(--block-spacing-horizontal);
}

#purpose {
    margin-top: var(--block-spacing-vertical);
}

// Ripped from https://github.com/tholman/github-corners
#github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform:rotate(0)
    }
    20%, 60% {
        transform:rotate(-25deg)
    }
    40%, 80% {
        transform:rotate(10deg)
    }
}
@if map-get($breakpoints, "sm") {
    @media (max-width: map-get($breakpoints, "sm")) {
        #github-corner:hover .octo-arm {
            animation:none
        }
        #github-corner .octo-arm {
            animation:octocat-wave 560ms ease-in-out
        }
    }
}

#github-corner svg {
    fill: var(--h1-color);
    color: var(--body-background);
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

input[type="number"].currency {
    padding-inline-start: calc(var(--form-element-spacing-horizontal) + 1.25rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ctext x='5%25' y='87%25' font-size='24' fill='#{$grey-500}' font-family='system-ui, -apple-system, %22Segoe UI%22, %22Roboto%22, %22Ubuntu%22, %22Cantarell%22, %22Noto Sans%22, sans-serif, %22Apple Color Emoji%22, %22Segoe UI Emoji%22, %22Segoe UI Symbol%22, %22Noto Color Emoji%22'%3E$%3C/text%3E%3C/svg%3E");
    background-position: center left 1rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
}
